<html>

<head>
    <link rel='stylesheet' href='/static/styles/images.min.css' />
    <title>Images Search</title>
    <script>
        window.data_saver = false;
    </script>
    <meta name='viewport' content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
</head>

<body>
    <div>
        <button class=ipg id=ytdl>Save Data on Images</button>
    </div>
    <script>
        var custom_dl = document.getElementById("ytdl")
        custom_dl.onclick = function () {
            el_array = document.getElementsByClassName("display-imgs");
            if (window.data_saver) {
                custom_dl.innerHTML = 'Using Full Quality Images';
                window.data_saver = false;
                window.localStorage.setItem("save-data",false);
                change_href(el_array, false);
            } else {
                window.data_saver = true;
                change_href(el_array, true);
                window.localStorage.setItem("save-data",!0);
                custom_dl.innerHTML = 'Using Compressed Images';
            }
        }

        function change_href(el_array, val) {
            for (var i = 0; i < el_array.length; i++) {
                el = el_array[i];
                if (val) {
                    el.src = el.getAttribute("data-fallback");
                } else {
                    el.src = el.getAttribute("data-original");
                }
            }
        }
    </script>
    <div id='img-viewer'>
        <span>Close</span>
    </div>
    <a href='/search' id=txt-link>Web Search</a>
    <div style="margin:auto;text-align: center;">
        <div id=main>
            <div class=input-box>
                <div class=desc>
                    <span id=useless>Search For Images</span>
                </div>
                <div style="margin-top: 25px;">
                    <div id=search-ghost style="font-size: 12px;visibility: hidden;margin-bottom: 10px;">Search</div>
                    <form action='/images/search/' id='image_form'>
                        <input id=search class=input_n placeholder="Search" name="q" style="text-align: center">
                        <input type="submit" style="display: none">
                    </form>
                </div>
                <button id=btn_s onclick="document.getElementById('image_form').submit()">Search</button>
            </div>
        </div>
    </div>
</body>

</html>